* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  width: 100%;
    height: 100%;
    background: #6dbcbc;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 15px;
}

input {
  border-radius: 100px;
  border: 1px solid #eee;
  padding: 10px;
  font-weight: 900;
  text-align: center;
}

button {
  background: #EDF0DA;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding: 11px;
    margin-left: 10px;
    box-shadow: 0px 10px 13px -7px #98c797, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid #b7b7b7;
    font-weight: 700;
}

.field {

}

.field .value {
  display: block;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.field:nth-child(1) .value {
  color: #AA4465
}

.field:nth-child(2) .value {
  color: #8F5C38
}

.field:nth-child(3) .value {
  color: #A89B8C
}

.field:nth-child(4) .value {
  color: #F0DFAD
}

.field .label {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 700;
}